[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bip-utils = "*"
web3 = "*"
python-dotenv = "*"
colorama = "*"
cloudscraper = "*"
brotli = "*"

[requires]
python_version = "3.11"
